.controls {
    width: 200px;
}

.controls > button {
    width: 100%;
}

#socket-status.none {
    background-color: gray;
}

#socket-status.connecting {
    background-color: yellow;
}

#socket-status.open {
    background-color: #0f0;
}

#socket-status.closed {
    background-color: #f00;
}

#socket-status {
    width: 100%;
    height: 20px;
}

#messages {
    height: 500px;
    overflow-y: scroll;
}

#messages > li {
    border: 1px black dashed;
    margin-bottom: 5px;
}

.message-item {
    transition: 1s background-color linear;
}